mixin main-gallery()
  section.section-main-gallery
    .container
      .section-main-gallery__title Фотогаллерея 
      .section-main-gallery__subtitle Фотографии с наших мероприятий  
    .section-main-gallery__main
      .main-gallery
        .main-gallery__view
          .container
            .gallery-view
              .gallery-view__slider
                .gallery-view__swiper
                  .swiper-container(data-swiper="gallery")
                    .swiper-wrapper
                      each item in app.gallery
                        .swiper-slide: +bgimage('../img/gallery/'+item.full)
                .swiper-nav
                  .swiper-nav__prev(data-swiper-prev="gallery"): +icons('#ic_arrow-left', 37)
                  .swiper-nav__next(data-swiper-next="gallery"): +icons('#ic_arrow-right', 37)
              .gallery-view__caption
                .gallery-view__caption-autor
                  .gallery-view__caption-photo: +bgimage('../img/common/autor.jpg')
                  .gallery-view__caption-name Наталья Реутова 
                .gallery-view__caption-desc 
                  each item, index in app.gallery
                    span(class=""+(index == 0 ? 'active':'')+"")!= item.caption
        .main-gallery__thumb
          .container
            .swiper-container(data-swiper="gallery-thumb")
              .swiper-wrapper
                each item in app.gallery
                  .swiper-slide: +bgimage('../img/gallery/'+item.thumb)
            .swiper-nav
              .swiper-nav__prev(data-swiper-prev="gallery"): +icons('#ic_arrow-left', 37)
              .swiper-nav__next(data-swiper-next="gallery"): +icons('#ic_arrow-right', 37)
        .main-gallery__more
          a(href='#'): button.btn Больше фото в Instagram

