.container
  .header
    .header__logo: a(href='/'): +bgimage('./img/common/logo.svg')
    .header__nav
      nav
        ul
          each item in app.menu
            li: a( href=item.link)= item.text
    .header__msgr
      ul
        each item in app.msgr
          li: a( href=item.link): +icons(item.icon)

    .header__signup
      a(href=app.social[0].link): button.btn Записаться

    .header__burger
      span.burger
        i
        i
        i

