.section-main-slider {
    padding-bottom: rem(45);

    @media screen and (max-width: $w1280) {
        padding-bottom: rem(25);

    }
}

.main-slider {

    position: relative;

    &__bg {

        & .bgimage {
            padding-top: 29%;
            @include bgimage-contain;
            background-position-x: right;
            min-height: rem(415);

            @media screen and (max-width: $w760) {
                background-size: cover;
            }

            @media screen and (max-width: $w480) {
                padding-top: auto;
                height: 70vh;
            }
        }
    }

    &__content {
        @include layer(2);
        background: linear-gradient(89.98deg, #FFFFFF 50.1%, rgba(255, 255, 255, 0.81) 60.03%, rgba(255, 255, 255, 0) 93.4%);

        @media screen and (max-width: $w760) {
            background: rgba(255, 255, 255, 0.7);
        }

        & .container {
            height: 100%;
            display: flex;
            align-items: center;
        }
    }

    &__title {
        font-size: rem(45);
        line-height: 140%;
        color: #000000;
        font-weight: 600;
        max-width: rem(860);
        padding-bottom: rem(25);

        @media screen and (max-width: $w1280) {
            font-size: rem(36);
            max-width: rem(700);
            line-height: 130%;

        }
    }

    &__desc {
        font-weight: 500;
        font-size: rem(14);
        line-height: rem(140%);
        text-transform: uppercase;
        color: #000000;

        padding-bottom: rem(35);

    }

    &__btn {
        padding-bottom: rem(25);

        & .btn {
            height: 50px;
            min-width: 250px;
        }
    }

    &__swiper {
        width: 100%;
        max-width: rem(830);
        margin-right: auto;

        & .swiper-pagination-bullet {
            width: rem(45);
            border-radius: 0;
            height: rem(4);
        }

        & .swiper-pagination-bullet-active {
            background-color: $main;
        }
    }
}