.section-main-slider {
    padding-bottom: rem(45);

    @media screen and (max-width: $w1280) {
        padding-bottom: rem(25);

    }
}

.main-slider {

    position: relative;

    &__bg {

        & .bgimage {
            padding-top: 29%;
            @include bgimage-contain;
            background-position-x: right;
        }
    }

    &__content {
        @include layer(2);
        background: linear-gradient(89.98deg, #FFFFFF 50.1%, rgba(255, 255, 255, 0.81) 60.03%, rgba(255, 255, 255, 0) 93.4%);

        & .container {
            height: 100%;
            display: flex;
            align-items: center;
        }
    }

    &__title {
        font-size: rem(45);
        line-height: 140%;
        color: #000000;
        font-weight: 600;
        max-width: rem(860);

        padding-bottom: rem(25);
    }

    &__desc {
        font-weight: 500;
        font-size: rem(14);
        line-height: rem(140%);
        text-transform: uppercase;
        color: #000000;

        padding-bottom: rem(35);

    }

    &__btn {
        padding-bottom: rem(25);
    }

    &__swiper {
        width: 100%;
        max-width: 830px;
        margin-right: auto;

        & .swiper-pagination-bullet {
            width: 45px;
            border-radius: 0;
            height: 4px;
        }

        & .swiper-pagination-bullet-active {
            background-color: $main;
        }
    }
}