.section-main-review {
    @include section-padding;
    background-color: #fff;

    &__title {
        @include section-title;
        @include section-title-line;
        text-align: center;
    }

    &__subtitle {
        text-align: center;
        padding-top: rem(12);
    }
}

.main-review {
    &__list {
        @include row-flex;
        padding-top: rem(40);

        @media screen and (max-width: $w480) {
            padding-top: rem(20);

        }
    }

    &__item {
        @include col;
        @include size-w760(6);
        @include size(12);

        margin-top: rem(55);

        @media screen and (min-width: $w480) {
            padding-left: rem(35);
            padding-right: rem(35);
        }
    }


}

.review-item {

    &:hover {
        .review-item__head-photo {
            box-shadow: 0 0 7px 1px #FF54549E;
        }
    }

    &__head {

        display: flex;
        align-items: center;

        &-meta {
            margin-left: rem(20);
        }

        &-photo {

            max-width: rem(60);
            width: 100%;
            border: rem(3) solid #fff;
            box-shadow: 0 0 0 2px $main;
            border-radius: 50%;
            transition: 0.4s ease;

            & .bgimage {
                @include box-square;
                @include bgimage-cover;
                border-radius: 50%;
            }


        }

        &-name {
            & a {
                font-weight: bold;
                font-size: rem(18);
                line-height: rem(22);
                color: #000000;

                &:hover {
                    text-decoration: underline;
                }
            }
        }

        &-data {
            font-size: rem(14);
            line-height: rem(17);
            display: flex;
            align-items: center;
            color: #7C7C7C;

            @media screen and (max-width: $w580) {
                line-height: rem(14);
            }

            & span {
                margin-right: rem(10);
            }

            & svg {
                width: 1.2em;
            }
        }
    }

    &__main {
        font-size: 14px;
        padding-top: rem(20);
    }
}